/*

main style file

color scheme

blue: #54728c
red: #e45857
red border: #14142
button bg: #f7f7f7
button frame: #dadada
button foreground: #aaaaaa
marked right: #8abfeb
highlight: #f1f1f1
button green bg: #68b54d
button green border: #519339

*/


/***************/
/* node-webkit */
/***************/

/* this makes the header to draggable window frame */
#main-header,
.heading {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}


/*********/
/* fonts */
/*********/

@font-face {
    font-family: 'oswaldbook';
    src: url('fonts/oswald-regular-webfont.eot');
    src: url('fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-regular-webfont.woff') format('woff'),
         url('fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("fonts/OpenSans-Regular.eot?v=1.1.0");
    src: url("fonts/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("fonts/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("fonts/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("fonts/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Open Sans';
    src: url("fonts/OpenSans-Semibold.eot?v=1.1.0");
    src: url("fonts/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("fonts/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("fonts/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("fonts/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
    font-weight: 600;
    font-style: normal; 
}
  
  
  

/**********/
/* layout */
/**********/

body {
    margin:0;
    font-family: Verdana, 'Lucida Sans Unicode', sans-serif;
}

#nav {
    display:none;
    width:25%;
    position: fixed;
    overflow: hidden;
    height:100%;
}

#main {
    display:none;
    margin-left:25%;
    padding:10px;
}

#message {
    position:absolute;
    top:100%;
    left:25%;
    margin-top: -60px;
    width:75%;
    z-index:9;
    border-top:3px solid #dadada;
    border-bottom: 1px solid #E0E0E0;
}



/*****************/
/* global styles */
/*****************/

.online,
.offline,
.notavailable {
    border-radius:5px;
    width:10px;
    height:10px;
    display:inline-block;
}

    .online {
        background:#68b54d;
    }

    .offline {
        background:#e45857;
    }

    .notavailable {
        background:#FFBF3C;
    }


.avatar {
    border-radius: 16px;
    width:32px;
    height:32px;
}

input.remove,
.save,
.cancel {
    border-radius:3px;
    padding:5px;
    color:#ffffff;
    cursor:pointer;
}

.save {
    background:#68b54d;
    border:1px solid #519339;
}

input.remove,
.cancel {
    background:#e45857;
    border:1px solid #C94B4B;
}

.fullscreen {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    background:#54728c;
    min-height: 100%;
    color:#ffffff;
    height:100%;
}

.error {
    color:#ff0000;
}

.logo {
    font-size:1.1em;
    font-family: 'oswaldbook';
    background:url(favicon.png) no-repeat left center;
    padding-left:45px;
    background-size: 32px;
}

.emoticons {
    width:24px;
}


#nav-dragger {
    position:absolute;
    height:100%;
    z-index:100;
    width:20px;
    left:25%;
    cursor:w-resize;
}



/**********/
/* splash */
/**********/

#splash > div {
    width:170px;
    height:30px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-85px;
    margin-top:-15px;
}



/*********/
/* login */
/*********/

#login {
    display:none;
}

    #login > div {
        width:230px;
        height:150px;
        position:absolute;
        left:50%;
        top:50%;
        margin-top:-75px;
        margin-left:-100px;
    }
    
    #login > div > div > span {
        margin-right:20px;
    }
    
    #login > div > div {
        margin-bottom:20px;
        font-size: 1.5em;
    }
    
    #login .save {
        margin-top:10px;
    }
    
    #login .reset {
        font-size:0.7em;
        color:#bbbbbb;
        cursor:pointer;
    }

    #login .error {
        font-size: 1em;
    }
    
    #login input[type="password"] {
        padding: 6px 12px;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }



/**************/
/* left menue */
/**************/

/* header */
#nav {
    background:#f1f1f1;
    color:#ffffff;
}

#nav .heading {
    color:#ffffff;
    background:#54728c;
    height:40px;
    padding:5px;
    font-size:1.3em;
    font-family: 'oswaldbook';
    padding-left:15px;
    padding-top:12px;
}

    #nav .version {
        position: absolute;
        left: 5px;
        top: 100%;
        color: #CCC;
        font-size: 0.5em;
        font-family: sans-serif;
        margin-top: -15px;
        z-index:100;
    }

    #nav #rooms-dragger {
        position:absolute;
        width:100%;
        height:20px;
        cursor:n-resize;
        z-index: 100;
    }


/* contact list */

.mCSB_container {
    margin-right:0 !important;
}

    .mCSB_scrollTools .mCSB_draggerContainer {
        margin-top:10px;
        margin-bottom:10px;
    }

    .mCSB_scrollTools .mCSB_draggerRail {
        background:transparent;
    }

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background:rgba(102, 102, 102, 0.20);
    }

    .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
        background:#666;
    }

    .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
        background:#666;
    }

    .mCSB_scrollTools {
        z-index:20;
    }

.contacts,
.contact {
    margin:0;
    padding:0;
    list-style:none;
}

.contact {
    position:relative;
    height:38px;
    cursor:pointer;
    background:#f1f1f1;
    border-top:1px solid #f1f1f1;
    border-bottom:1px solid #f1f1f1;
    margin:0;
    padding:0;

    display: -webkit-flex;
    display: flex;
    align-items: center;

    z-index:10;
}

    .contact.active {
        background:#f9f9f9;
        border-right:0;
        border-bottom:1px solid #dadada;
        border-top:1px solid #dadada;
        box-shadow: 0px 5px 7px -4px #ccc;
        z-index:11;
    }

    .contacts-state {
        position:absolute;
        left:25px;
        top:20px;
    }
    
    .contacts-validkey,
    .contacts-invalidkey {
        color:#ff0000;
        width:10px;
    }
    
    .contacts-validkey {
        color:#9FC728;
    }

    .contacts-avatar {
        width:22px;
        height:22px;
        margin-right:10px;
        margin-left:10px;
    }

    .contacts-name {
        -webkit-box-flex: 1;
        box-flex: 1;
        flex:1;
        font-size:0.8em;
        color:#5d5d5d;
        overflow:hidden;
        word-wrap:break-word;
        text-overflow:ellipsis;
        white-space: nowrap;
    }

    .contacts-unread {
        background:#e45857;
        color:#ffffff;
        padding:7px;
        padding-top:2px;
        padding-bottom:2px;
        border-radius: 3px;
        font-size:0.8em;
        font-weight:bold;
        margin-right:15px;
    }


/* room list */

#rooms {
    height:200px;
    border-top:1px solid #dadada;
}

    #rooms h1 {
        font-size:0.95em;
        margin-top:20px;
        margin-left:10px;
        color:#aaaaaa;
    }

    #rooms-add {
        cursor:pointer;
    }

        #rooms-add:hover {
            color:#333333;
        }

    #rooms-wrapper {
        height:150px;
    }

    .rooms,
    .room {
        margin:0;
        padding:0;
    }

    .room {
        font-size:0.9em;
        padding:10px;
        position:relative;
        background:#f1f1f1;
        cursor:pointer;
        border-top:1px solid #f1f1f1;
        border-bottom:1px solid #f1f1f1;

        display: -webkit-flex;
        display: flex;
        align-items: center;

        z-index:10;
    }

        .room.active {
            background:#f9f9f9;
            border-right:0;
            border-bottom:1px solid #dadada;
            border-top:1px solid #dadada;
            box-shadow: 0px 5px 7px -4px #ccc;
            z-index:11;
        }

        .room .rooms-outside,
        .room .rooms-inside {
            border-radius:5px;
            width:10px;
            height:10px;
            display:block;
            margin-right:5px;
        }

            .room .rooms-inside {
                background:#68b54d;
            }

            .room .rooms-outside {
                background:#e45857;
            }

        .room .rooms-name {
            position:relative;
            -webkit-box-flex: 1;
            box-flex: 1;
            flex:1;
            font-size:0.8em;
            color:#5d5d5d;
            overflow:hidden;
            word-wrap:break-word;
            text-overflow:ellipsis;
            white-space: nowrap;
        }

        .room .rooms-unread {
            display:block;
            background:#e45857;
            color:#ffffff;
            padding:7px;
            padding-top:2px;
            padding-bottom:2px;
            border-radius: 3px;
            font-size:0.8em;
            font-weight:bold;
            margin-right:5px;
        }

        .room .rooms-invite,
        .room .rooms-leave {
            position:absolute;
            font-size:1.2em;
            margin-left:10px;
            color:#999;
            margin-top: -1px;
            display:none;
        }

            .room .rooms-leave {
                margin-left:35px;
            }

            .room .rooms-leave:hover,
            .room .rooms-invitet:hover {
                color:#000;
            }

        .rooms li:hover .rooms-invite,
        .rooms li:hover .rooms-leave {
            display:inline-block;
        }


    .rooms-popup {
        width:300px;
        min-height:50px;
        position:absolute;
        top:0;
        left:25%;
        margin-left:25px;
        margin-top:-25px;
        padding:10px;
        background: #f7f7f7;
        border: 1px solid #dadada;
        z-index:300;
        border-radius: 3px;
        color:#5d5d5d;
    }

    .rooms-popup:after, .rooms-popup:before {
        right: 100%;
        top: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .rooms-popup:after {
        border-color: rgba(241, 241, 241, 0);
        border-right-color: #f7f7f7;
        border-width: 10px;
        margin-top: -10px;
    }

    .rooms-popup:before {
        border-color: rgba(218, 218, 218, 0);
        border-right-color: #dadada;
        border-width: 11px;
        margin-top: -11px;
    }

        .rooms-popup p {
            margin:0;
            margin-top:5px;
            margin-bottom:5px;
            padding:0;
            font-size:0.8em;
        }

        .rooms-popup input {
            margin-bottom:3px;
        }


/**************************/
/* main chat message list */
/**************************/

#main {
    padding:0;
}

    #main-header {
        position: relative;
        height:37px;
        padding-top:10px;
        padding-bottom:10px;
        width:100%;
        color:#ffffff;
        background:#66829a;
    }

        #newversion {
            top:8px;
            margin:3px;
            display:none;
            opacity:0.8;
            z-index:100;
            background:#e45857;
            padding:10px;
            position: absolute;
            left:50%;
            margin-left:-150px;
            width: 300px;
            -webkit-app-region: no-drag;
            color:#ffffff;
            border-radius: 3px;
            font-size:0.8em;
            cursor: pointer;
        }

        #main-metadata {
            display: flex;
            align-items: center;
            margin-left:20px;
            position:relative;
        }

            #main-metadata > * {
                margin-right:10px;
            }
            
            #main-metadata .invalidkey {
                color:#ff0000;
            }

            #conversationState {
                position: absolute;
                left: 24px;
                top: 24px;
            }

            #conversationState.isroom {
                display:none;
            }

        #open-conversations-menue,
        #key-menue,
        #main-menue,
        #main-close {
            position:absolute;
            left:100%;
            margin-left:-40px;
            top:20px;
            cursor:pointer;
            z-index:200;
            -webkit-app-region: no-drag;
        }

        #open-conversations-menue {
            margin-left:-160px;
        }

        #open-conversations-menue .unread {
            display:none;
            position:absolute;
            background-color: #E74C3C;
            border-radius: 30px;
            color: white;
            font-size: 0.6em;
            font-weight: normal;
            min-width: 8px;
            padding: 0 5px 0 5px;
            margin-left: 5px;
            margin-top:13px;
            vertical-align: baseline;
            z-index:1000;
        }
        
        #key-menue {
            margin-left:-120px;
        }
        
        #main-menue {
            margin-left:-80px;
        }

        #open-conversations-menue-dropdown,
        #key-menue-dropdown,
        #main-menue-dropdown {
            display:none;
            position: absolute;
            background: #F9F9F9;
            border: 1px solid #dadada;
            color:#5d5d5d;
            padding:0;
            left:100%;
            top:40px;
            width:230px;
            margin-left:-235px;
            z-index:30;
            -webkit-app-region: no-drag;
        }

            #open-conversations-menue-dropdown:after, #open-conversations-menue-dropdown:before,
            #key-menue-dropdown:after, #key-menue-dropdown:before,
            #main-menue-dropdown:after, #main-menue-dropdown:before {
                bottom: 100%;
                left: 70%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            #open-conversations-menue-dropdown:after,
            #key-menue-dropdown:after,
            #main-menue-dropdown:after {
                border-color: rgba(241, 241, 241, 0);
                border-bottom-color: #f1f1f1;
                border-width: 15px;
                margin-left: -15px;
            }

            #open-conversations-menue-dropdown:before,
            #key-menue-dropdown:before,
            #main-menue-dropdown:before {
                border-color: rgba(218, 218, 218, 0);
                border-bottom-color: #dadada;
                border-width: 16px;
                margin-left: -16px;
            }

            #open-conversations-menue-dropdown li,
            #key-menue-dropdown li,
            #main-menue-dropdown li {
                list-style:none;
                padding:10px;
                font-size:0.85em;
                border-bottom:1px solid #f1f1f1;
                cursor:pointer;
            }

                #open-conversations-menue-dropdown li:hover,
                #key-menue-dropdown li:hover,
                #main-menue-dropdown li:hover {
                    background:#f9f9f9;
                }

                #open-conversations-menue-dropdown li.inactive,
                #main-menue-dropdown li.inactive {
                    color:#A0A0A0;
                }

            #open-conversations-menue-dropdown li span,
            #key-menue-dropdown li > span,
            #main-menue-dropdown li span {
                font-size:1.1em;
                width:18px;
                display:inline-block;
            }

            #main-menue-avatar-croper {
                display:none;
            }

                #main-menue-avatar-croper img {
                    display:block;
                }

                #canvas {
                    display:none;
                }
        
        #key-menue-dropdown {
            margin-left:-276px;
        }

            #key-menue-dropdown p,
            #key-menue-dropdown label {
                font-size:0.9em;
            }
        
            #message-add-menue-dropdown li > span,
            #key-menue-dropdown li > span {
                width:14px;
                margin-right:4px;
                text-align:center;
                display:inline-block;
            }
        
            #key-menue-dropdown select,
            #key-menue-dropdown label {
                display:block;
            }
        
            #key-menue-dropdown li {
                display:none;
            }
            
            #key-menue-dropdown #key-menue-enable {
                display:block;
            }
            
            #key-menue-dropdown #key-menue-enable input {
                margin-top:10px;
            }
            
            #key-menue-dropdown .cancel {
                background:#f7f7f7;
                border:1px solid #dadada;
                color:#888;
            }
            
            
            #key-menue-dropdown select,
            #key-menue-dropdown input[type="password"],
            #key-menue-dropdown input[type="text"] {
                padding: 6px 12px;
                color: #555;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                margin-bottom:5px;
                width:90%;
            }

            
        #open-conversations-menue-dropdown {
            margin-left:-314px;
            margin-top:16px;
            height:150px;
            z-index:29;
        }

            #open-conversations-menue-dropdown ul {
                margin: 0;
                padding: 0;
            }

            #open-conversations-menue-dropdown li.empty {
                font-size:0.8em;
                text-align:center;
                margin-top:55px;
                border-bottom:0;
            }

            #open-conversations-menue-dropdown li
            #open-conversations-menue-dropdown .room {
                padding: 5px;
            }

            #open-conversations-menue-dropdown .contacts-state {
                left: 20px;
            }

            #open-conversations-menue-dropdown .contacts-avatar {
                width: 16px;
                height: 16px;
                margin-left:0;
            }

            #open-conversations-menue-dropdown .contact {
                height:auto;
            }

            #open-conversations-menue-dropdown .rooms-outside,
            #open-conversations-menue-dropdown .rooms-inside {
                width: 6px;
                height: 6px;
            }

            #open-conversations-menue-dropdown li.active {
                box-shadow: none;
                border-top:0;
            }

            #open-conversations-menue-dropdown .room .rooms-invite,
            #open-conversations-menue-dropdown .room .rooms-leave {
                display:none;
            }


    #content {
        padding:20px;
        padding-top:0;
        padding-bottom:0;
        list-style:none;
    }

    #content li {
        padding-top:0;
    }

    #content .show-all {
        width:100%;
        text-align:center;
        color:#54728c;
        font-size:0.9em;
        cursor:pointer;
        margin:5px;
    }

    .entry {
        font-family: 'Open Sans';
        margin-bottom:5px;
        color:#666;
        font-size:0.8em;
        padding-bottom:10px;
        display: flex;
    }

        .entry:last-child {
            border-bottom:0;
        }

        .entry-sender {
            font-weight: 600;
        }

        .entry-datetime {
            font-weight:normal;
            font-size:0.8em;
            color:#AAA;
        }

        .entry-content {
            line-height: 135%;
            padding-top: 3px;
        }

        .entry-content img.emoticons {
            margin-top: -3px;
            margin-bottom: -2px;
        }

        .entry-content pre {
            position: relative;
            margin-bottom: 5px;
            margin-top: 5px;
            border-radius: 3px;
            border: 1px solid #C3CCD0;
            background: #FFF;
            overflow: hidden;
            overflow-y: auto;
            overflow-x: auto;
            max-height: 400px;
        }

        .entry-content pre code {
            font-size: 1.0em;
            display: block;
            padding-left: 50px;
            padding-bottom: 12px;
            padding-top: 12px;
            padding-right: 12px;
            font-weight: 300;
            font-family: Menlo, monospace;
        }

        .pre-numbering {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            padding: 11.4px 2px 11.4px 2px;
            border-right: 1px solid #C3CCD0;
            border-radius: 3px 0 0 3px;
            background-color: #EEE;
            text-align: right;
            font-family: Menlo, monospace;
            font-size: 1.2em;
            color: #AAA;
        }

        .entry-avatar {
            width:40px;
            margin-top:5px;
        }

        .entry-contentarea {
            -webkit-box-flex: 1;
            box-flex: 1;
            flex:1;
        }

        .entry-status {
            color:#B8B8B8;
        }
        
        .entry-sign-fail {
            color:#ff0000;
        }
        
        .entry-content input {
            display:block;
        }
        
        .entry-content .cancel {
            background:#f7f7f7;
            border:1px solid #dadada;
            color:#888;
        }
        
        .entry-content .entry-file-label {
            color:#54728c;
        }
        
        .entry-content .entry-file-canceled {
            color:#ff0000;
        }
        
        .entry-file-progress {
            margin-top:5px;
            margin-bottom:5px;
            padding:5px;
            background:#68b54d;
            height:5px;
        }
        
        .entry-file-open {
            float:left;
        }

        .entry-poll-answers,
        .entry-poll-answers li,
        .entry-poll-result,
        .entry-poll-result li {
            margin:0;
            padding:0;
            list-style:none;
        }

        .entry-poll-result {
            width:400px
        }

        .entry-poll-result li {
            margin-bottom:10px;
        }

        .entry-poll-result li div {
            height: 20px;
            background: rgba(102, 130, 154, 0.37);
        }

        .entry-poll-result li span {
            font-size:0.8em;
            font-weight:bold;
        }

        .entry-poll-result li div div {
            height:20px;
            background: rgba(102, 130, 154, 1);
        }

        .entry-poll-answers li {
            clear:both;
            margin-bottom:10px;
        }

        .entry-poll-answers li input {
            float:left;
            margin-right: 10px;
        }

        .entry-poll-question {
            margin-top:10px;
            margin-bottom:10px;
            font-weight:bold;
        }




/**********************/
/* message input area */
/**********************/

#message {

}

    #message-add-menue {
        cursor:pointer;
        margin:0;
        margin-top:2px;
        margin-bottom:2px;
        padding-left: 17px;
        padding-right:14px;
        font-size:1.9em;
        color:#999;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    #message-add-poll-box,
    #message-add-code-box {
        display:none;
        position: absolute;
        background: #f7f7f7;
        border: 1px solid #dadada;
        color:#5d5d5d;
        padding:10px;
        right:100%;
        top:-415px;
        width:525px;
        margin-right:-556px;
        border-radius: 3px;
        -webkit-app-region: no-drag;
        height:390px;
    }

        #message-add-poll-box:after, #message-add-poll-box:before,
        #message-add-code-box:after, #message-add-code-box:before {
            top: 100%;
            left: 4%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        #message-add-poll-box:after,
        #message-add-code-box:after {
            border-color: rgba(241, 241, 241, 0);
            border-top-color: #f7f7f7;
            border-width: 20px;
            margin-left: -20px;
        }

        #message-add-poll-box:before,
        #message-add-code-box:before {
            border-color: rgba(218, 218, 218, 0);
            border-top-color: #dadada;
            border-width: 21px;
            margin-left: -21px;
        }

        #message-add-code-box-area {
            resize:none;
            height:290px;
            width:520px;
            overflow:auto;
            margin-bottom:5px;
        }

        #message-add-code-box-language {
            width:100%;
            float:right;
        }


    #message-add-poll-box {
        font-size: 0.8em;
        height:450px;
        top:-475px;
    }

        #message-add-poll-box ul,
        #message-add-poll-box li {
            padding:0;
            margin:0;
            margin-bottom: 5px;
            list-style: none;
        }

            #message-add-poll-box #message-add-poll-box-multioptions {
                margin-top:10px;
                margin-bottom:15px;
            }

            #message-add-poll-box li input {
                width: 300px;
                height: 25px;
            }

            #message-add-poll-box ul {
                margin-bottom:20px;
            }

            #message-add-poll-box label {
                display: block;
                font-weight: bold;
                margin-top:5px;
                margin-bottom:5px;
            }

            #message-add-poll-box .add {
                margin-left:5px;
                margin-top:5px;
                cursor: pointer;
            }

            #message-add-poll-box .remove {
                cursor: pointer;
                margin-left:5px;
            }



    #message-add-menue-dropdown {
        display: none;
        position: absolute;
        background: #f7f7f7;
        border: 1px solid #dadada;
        color:#5d5d5d;
        padding:0;
        right:100%;
        top:-170px;
        width:210px;
        margin-right:-206px;
        border-radius: 3px;
        z-index:30;
        -webkit-app-region: no-drag;
    }

        #message-add-menue-dropdown:after, #message-add-menue-dropdown:before {
            top: 100%;
            left: 17.5%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        #message-add-menue-dropdown:after {
            border-color: rgba(241, 241, 241, 0);
            border-top-color: #f7f7f7;
            border-width: 15px;
            margin-left: -15px;
        }

        #message-add-menue-dropdown:before {
            border-color: rgba(218, 218, 218, 0);
            border-top-color: #dadada;
            border-width: 16px;
            margin-left: -16px;
        }

            #message-add-menue-dropdown li {
                list-style:none;
                padding:10px;
                font-size:0.9em;
                border-top:1px solid #f1f1f1;
                cursor:pointer;
            }

                #message-add-menue-dropdown li:hover {
                    background:#f9f9f9;
                }

                #message-add-menue-dropdown li.inactive {
                    color:#A0A0A0;
                }

        #message-add-menue-file span {
            font-size:1.1em;
        }


    #message-emoticons {
        display:none;
        border-top: 1px solid #dadada;
        position:absolute;
        background:#f7f7f7;
        width:100%;
        z-index:29;
    }

        #message-emoticons img {
            cursor:pointer;
            margin-right:2px;
            margin-bottom:2px;
        }

        #message-emoticons .emoticons-content {
            clear:both;
            display:none;
            padding:5px;
        }

        #message-emoticons .emoticons-tabs {
            padding:0;
            margin:0;
            width:100%;
            background: #f4f4f4;
            border-top: 1px solid #f1f1f1;
            list-style:none;
            height:40px;
        }

        #message-emoticons .emoticons-tab {
            float:left;
            padding:9px;
            cursor:pointer;
            border-right: 1px solid #f1f1f1;
        }

        #message-emoticons .emoticons-tab.active {
            border-top:0;
            background:#E5E5E5;
        }

    #message-input {
        display: -webkit-flex;
        display: flex;
        padding:5px;
    }

        #message-input-textfield {
            font-family: 'Open Sans';
            -webkit-box-flex: 1;
            box-flex: 1;
            flex:1;
            padding:5px;
            margin-right:0;
            margin-left: 0;
            margin-top:2px;
            height:30px;
            border-left: 0;
            outline: none;
            border:0;
        }

        #message-toggleemots {
            display:block;
            margin:0;
            margin-top:2px;
            margin-bottom:2px;
            width:30px;
            height:30px;
            border-left:0;
            border-right:0;
            cursor:pointer;
            color:#999;
            height:40px;
            font-size:1.4em;
            text-align: center;
        }

            #message-toggleemots:before {
                padding-top:9px;
            }

        #message-send {
            cursor:pointer;
            margin:0;
            margin-top:2px;
            margin-bottom:2px;
            padding-top:4px;
            padding-left:20px;
            padding-right:20px;
            font-size:1.5em;
            color:#999;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }




/* nerdmode */

body.nerd {
    background:#000;
}

.nerd #message-add-code-box,
.nerd #message-add-poll-box,
.nerd #message-emoticons .emoticons-tabs,
.nerd #message-emoticons,
.nerd #login .reset,
.nerd .fullscreen,
.nerd #main-header,
.nerd #message-input,
.nerd #message,
.nerd #main,
.nerd #nav,
.nerd #nav .heading {
    color: #00ff00;
    background: #000;
}

.nerd .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.nerd .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background:#ccc;
}

.nerd .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background:#ccc;
}

.nerd .room,
.nerd .contact {
    background:#000;
    border-top:1px solid #292929;
    border-bottom:0;
}

.nerd .room.active,
.nerd .contact.active {
    background:#333;
    border-bottom:1px solid #292929;
    border-top:1px solid #292929;
    box-shadow: 0px 5px 7px -4px #292929;
}

.nerd #message-emoticons .emoticons-tab.active {
    background:#333;
}

.nerd .room .rooms-name,
.nerd .contacts-name {
    color: #00ff00;
}

.nerd #message-add-menue-dropdown,
.nerd #open-conversations-menue-dropdown,
.nerd #key-menue-dropdown,
.nerd #main-menue-dropdown,
.nerd .rooms-popup {
    background: #000;
    border: 1px solid #ccc;
    color:#00ff00;
}

.nerd #message,
.nerd #rooms {
    border-top: 3px solid #292929;
    border-bottom:0;
}

.nerd .entry {
    color:#00ff00;
    border-bottom: 1px solid #292929;
}


.nerd #message-input-textfield {
    color:#00ff00;
    background: #333;
}

.nerd #message-input-textfield::-webkit-input-placeholder {
    color: #1b6619;
}

.nerd #message-add-menue-dropdown li:hover,
.nerd #open-conversations-menue-dropdown li:hover,
.nerd #key-menue-dropdown li:hover,
.nerd #main-menue-dropdown li:hover {
    background-color:#333;
}