/*

main style file

color scheme

blue: #54728c
red: #e45857
red border: #14142
button bg: #f7f7f7
button frame: #dadada
button foreground: #aaaaaa
marked right: #8abfeb
highlight: #f1f1f1
button green bg: #68b54d
button green border: #519339

*/


/***************/
/* node-webkit */
/***************/

/* this makes the header to draggable window frame */
#main-header,
.heading {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}


/*********/
/* fonts */
/*********/

@font-face {
    font-family: 'oswaldbold';
    src: url('fonts/oswald-bold-webfont.eot');
    src: url('fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-bold-webfont.woff') format('woff'),
         url('fonts/oswald-bold-webfont.ttf') format('truetype'),
         url('fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('fonts/oswald-light-webfont.eot');
    src: url('fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-light-webfont.woff') format('woff'),
         url('fonts/oswald-light-webfont.ttf') format('truetype'),
         url('fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldbook';
    src: url('fonts/oswald-regular-webfont.eot');
    src: url('fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-regular-webfont.woff') format('woff'),
         url('fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_stencilregular';
    src: url('fonts/oswald-stencil-webfont.eot');
    src: url('fonts/oswald-stencil-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-stencil-webfont.woff') format('woff'),
         url('fonts/oswald-stencil-webfont.ttf') format('truetype'),
         url('fonts/oswald-stencil-webfont.svg#oswald_stencilregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/**********/
/* layout */
/**********/

body {
    margin:0;
    font-family: Verdana, 'Lucida Sans Unicode', sans-serif;
}

#nav {
    display:none;
    width:25%;
    position: fixed;
    overflow: hidden;
    height:100%;
}

#main {
    display:none;
    margin-left:25%;
    padding:10px;
}

#message {
    position:absolute;
    top:100%;
    left:25%;
    height:20px;
    margin-top:-70px;
    width:75%;
    z-index:9;
    border-top:1px solid #dadada;
}



/*****************/
/* global styles */
/*****************/

.online,
.offline,
.notavailable {
    border-radius:3px;
    width:6px;
    height:6px;
    display:inline-block;
}

    .online {
        background:#68b54d;
    }

    .offline {
        background:#e45857;
    }

    .notavailable {
        background:#FFBF3C;
    }


.avatar {
    border-radius: 3px;
    width:32px;
    height:32px;
}

input.remove,
.save,
.cancel {
    border-radius:3px;
    padding:5px;
    color:#ffffff;
    cursor:pointer;
}

.save {
    background:#68b54d;
    border:1px solid #519339;
}

input.remove,
.cancel {
    background:#e45857;
    border:1px solid #C94B4B;
}

.fullscreen {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    background:#54728c;
    min-height: 100%;
    color:#ffffff;
    height:100%;
}

.error {
    color:#ff0000;
}

.logo {
    font-size:1.4em;
    font-size:1.3em;
    font-family: 'oswaldbook';
}

    .logo span {
        margin-right:10px;
    }
    

/**********/
/* splash */
/**********/

#splash > div {
    width:170px;
    height:30px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-85px;
    margin-top:-15px;
}



/*********/
/* login */
/*********/

#login {
    display:none;
}

    #login > div {
        width:300px;
        height:150px;
        position:absolute;
        left:50%;
        top:50%;
        margin-top:-75px;
        margin-left:-150px;
    }
    
    #login > div > div > span {
        margin-right:20px;
    }
    
    #login > div > div {
        margin-bottom:20px;
    }
    
    #login .save {
        margin-left:89px;
        margin-top:10px;
    }
    
    #login .reset {
        font-size:0.7em;
        color:#bbbbbb;
        cursor:pointer;
    }
    
    #login input[type="password"] {
        padding: 6px 12px;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }



/**************/
/* left menue */
/**************/

/* header */
#nav {
    background:#f1f1f1;
    color:#ffffff;
}

#nav .heading {
    color:#ffffff;
    background:#54728c;
    height:40px;
    padding:5px;
    font-size:1.3em;
    font-family: 'oswaldbook';
    padding-left:15px;
    padding-top:12px;
}

    #nav .heading span {
        padding-right:10px;
    }

    #nav .version {
        position: absolute;
        left: 5px;
        top: 100%;
        color: #CCC;
        font-size: 0.5em;
        font-family: sans-serif;
        margin-top: -15px;
        z-index:100;
    }


/* contact list */

.mCSB_container {
    margin-right:0 !important;
}

    .mCSB_scrollTools .mCSB_draggerContainer {
        margin-top:10px;
        margin-bottom:10px;
    }

    .mCSB_scrollTools .mCSB_draggerRail {
        background:transparent;
    }

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background:rgba(102, 102, 102, 0.20);
    }

    .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
        background:#666;
    }

    .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
        background:#666;
    }

    .mCSB_scrollTools {
        z-index:20;
    }

.contacts,
.contacts li {
    margin:0;
    padding:0;
    list-style:none;
}

.contacts li {
    position:relative;
    height:50px;
    cursor:pointer;
    background:#f1f1f1;
    border-top:1px solid #f1f1f1;
    border-bottom:1px solid #f1f1f1;
    margin:0;
    padding:0;

    display: -webkit-flex;
    display: flex;
    align-items: center;

    z-index:10;
}

    .contacts li.active {
        background:#f9f9f9;
        border-right:0;
        border-bottom:1px solid #dadada;
        border-top:1px solid #dadada;
        box-shadow: 0px 5px 7px -4px #ccc;
        z-index:11;
    }

    .contacts-state {
        margin:0 5px 0 5px;
    }
    
    .contacts-invalidkey {
        color:#ff0000;
        width:14px;
    }

    .contacts-avatar {
        margin-right:5px;
    }

    .contacts-name {
        -webkit-box-flex: 1;
        box-flex: 1;
        flex:1;
        font-size:0.8em;
        color:#5d5d5d;
        overflow:hidden;
        word-wrap:break-word;
        text-overflow:ellipsis;
        white-space: nowrap;
    }

    .contacts-unread {
        background:#e45857;
        color:#ffffff;
        padding:7px;
        padding-top:2px;
        padding-bottom:2px;
        border-radius: 3px;
        font-size:0.8em;
        font-weight:bold;
        margin-right:15px;
    }


/* room list */

#rooms {
    height:200px;
    border-top:1px solid #dadada;
}

    #rooms h1 {
        font-size:0.95em;
        margin-top:20px;
        margin-left:10px;
        color:#aaaaaa;
    }

    #rooms-add {
        cursor:pointer;
    }

        #rooms-add:hover {
            color:#333333;
        }

    #rooms-wrapper {
        height:150px;
    }

    .rooms,
    .rooms li {
        margin:0;
        padding:0;
    }

    .rooms li {
        font-size:0.9em;
        padding:10px;
        position:relative;
        background:#f1f1f1;
        cursor:pointer;
        border-top:1px solid #f1f1f1;
        border-bottom:1px solid #f1f1f1;

        display: -webkit-flex;
        display: flex;
        align-items: center;

        z-index:10;
    }

        .rooms li.active {
            background:#f9f9f9;
            border-right:0;
            border-bottom:1px solid #dadada;
            border-top:1px solid #dadada;
            box-shadow: 0px 5px 7px -4px #ccc;
            z-index:11;
        }

        .rooms .rooms-outside,
        .rooms .rooms-inside {
            border-radius:5px;
            width:10px;
            height:10px;
            display:block;
            margin-right:5px;
        }

            .rooms .rooms-inside {
                background:#68b54d;
            }

            .rooms .rooms-outside {
                background:#e45857;
            }

        .rooms .rooms-name {
            position:relative;
            -webkit-box-flex: 1;
            box-flex: 1;
            flex:1;
            font-size:0.8em;
            color:#5d5d5d;
            overflow:hidden;
            word-wrap:break-word;
            text-overflow:ellipsis;
            white-space: nowrap;
        }

        .rooms .rooms-unread {
            display:block;
            background:#e45857;
            color:#ffffff;
            padding:7px;
            padding-top:2px;
            padding-bottom:2px;
            border-radius: 3px;
            font-size:0.8em;
            font-weight:bold;
            margin-right:5px;
        }

        .rooms .rooms-invite,
        .rooms .rooms-leave {
            position:absolute;
            font-size:1.4em;
            margin-left:10px;
            color:#999;
            display:none;
        }

            .rooms .rooms-leave {
                margin-left:35px;
            }

            .rooms .rooms-leave:hover,
            .rooms .rooms-invitet:hover {
                color:#000;
            }

        .rooms li:hover .rooms-invite,
        .rooms li:hover .rooms-leave {
            display:inline-block;
        }


    .rooms-popup {
        width:300px;
        min-height:50px;
        position:absolute;
        top:0;
        left:25%;
        margin-left:25px;
        margin-top:-25px;
        padding:10px;
        background: #f7f7f7;
        border: 1px solid #dadada;
        z-index:300;
        border-radius: 3px;
        color:#5d5d5d;
    }

    .rooms-popup:after, .rooms-popup:before {
        right: 100%;
        top: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .rooms-popup:after {
        border-color: rgba(241, 241, 241, 0);
        border-right-color: #f7f7f7;
        border-width: 10px;
        margin-top: -10px;
    }

    .rooms-popup:before {
        border-color: rgba(218, 218, 218, 0);
        border-right-color: #dadada;
        border-width: 11px;
        margin-top: -11px;
    }

        .rooms-popup p {
            margin:0;
            margin-top:5px;
            margin-bottom:5px;
            padding:0;
            font-size:0.8em;
        }


/**************************/
/* main chat message list */
/**************************/

#main {
    padding:0;
}

    #main-header {
        position: relative;
        height:37px;
        padding-top:10px;
        padding-bottom:10px;
        width:100%;
        color:#ffffff;
        background:#66829a;
    }

        #newversion {
            top:8px;
            margin:3px;
            display:none;
            opacity:0.8;
            z-index:100;
            background:#e45857;
            padding:10px;
            position: absolute;
            left:50%;
            margin-left:-150px;
            width: 300px;
            -webkit-app-region: no-drag;
            color:#ffffff;
            border-radius: 3px;
            font-size:0.8em;
            cursor: pointer;
        }

        #main-metadata {
            display: flex;
            align-items: center;
            margin-left:20px;
        }

            #main-metadata > * {
                margin-right:10px;
            }
            
            #main-metadata .invalidkey {
                color:#ff0000;
            }

        #key-menue,
        #main-menue,
        #main-close {
            position:absolute;
            left:100%;
            margin-left:-40px;
            top:20px;
            cursor:pointer;
            z-index:200;
            -webkit-app-region: no-drag;
        }

        #key-menue {
            margin-left:-120px;
            
        }
        
        #main-menue {
            margin-left:-80px;
        }

        #key-menue-dropdown,
        #main-menue-dropdown {
            display:none;
            position: absolute;
            background: #f7f7f7;
            border: 1px solid #dadada;
            color:#5d5d5d;
            padding:0;
            left:100%;
            top:40px;
            width:230px;
            margin-left:-235px;
            border-radius: 3px;
            z-index:30;
            -webkit-app-region: no-drag;
        }

            #key-menue-dropdown:after, #key-menue-dropdown:before,
            #main-menue-dropdown:after, #main-menue-dropdown:before {
                bottom: 100%;
                left: 70%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            #key-menue-dropdown:after,
            #main-menue-dropdown:after {
                border-color: rgba(241, 241, 241, 0);
                border-bottom-color: #f7f7f7;
                border-width: 15px;
                margin-left: -15px;
            }

            #key-menue-dropdown:before,
            #main-menue-dropdown:before {
                border-color: rgba(218, 218, 218, 0);
                border-bottom-color: #dadada;
                border-width: 16px;
                margin-left: -16px;
            }

            #key-menue-dropdown li,
            #main-menue-dropdown li {
                list-style:none;
                padding:10px;
                font-size:0.9em;
                border-bottom:1px solid #f1f1f1;
                cursor:pointer;
            }

                #key-menue-dropdown li:hover,
                #main-menue-dropdown li:hover {
                    background:#f9f9f9;
                }

                #main-menue-dropdown li.inactive {
                    color:#A0A0A0;
                }

            #main-menue-avatar-croper {
                display:none;
            }

                #main-menue-avatar-croper img {
                    display:block;
                }

                #canvas {
                    display:none;
                }
        
        #key-menue-dropdown {
            margin-left:-276px;
            font-size:0.8em;
        }
        
            #message-add-menue-dropdown li > span,
            #key-menue-dropdown li > span {
                width:14px;
                text-align:center;
            }
            
            #key-menue-dropdown li > span {
                font-size:1.3em;
                margin-right:5px;
            }
        
            #key-menue-dropdown select,
            #key-menue-dropdown label {
                display:block;
            }
        
            #key-menue-dropdown li {
                display:none;
            }
            
            #key-menue-dropdown #key-menue-enable {
                display:block;
            }
            
            #key-menue-dropdown #key-menue-enable input {
                margin-top:10px;
            }
            
            #key-menue-dropdown .cancel {
                background:#f7f7f7;
                border:1px solid #dadada;
                color:#888;
            }
            
            
            #key-menue-dropdown select,
            #key-menue-dropdown input[type="password"],
            #key-menue-dropdown input[type="text"] {
                padding: 6px 12px;
                color: #555;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                margin-bottom:5px;
                width:90%;
            }


    #content {
        padding:20px;
        padding-top:0;
        padding-bottom:0;
        list-style:none;
    }

    #content li {
        padding-top:0;
    }

    .entry {
        margin-bottom:10px;
        font-size:0.8em;
        color:#666;
        padding-bottom:10px;
        border-bottom:1px solid #dadada;
        display: flex;
    }

        .entry:last-child {
            border-bottom:0;
        }

        .entry-sender {
            font-size:0.9em;
            font-weight: bold;
        }

        .entry-datetime {
            font-weight:normal;
            font-size:0.8em;
            color:#AAA;
        }

        .entry-content {
            line-height: 135%;
            padding-top: 5px;
        }

        .entry-content img.emoticons {
            width: 20px;
            margin-top: -3px;
            margin-bottom: -2px;
        }

        .entry-content pre {
            position: relative;
            margin-bottom: 5px;
            margin-top: 5px;
            border-radius: 3px;
            border: 1px solid #C3CCD0;
            background: #FFF;
            overflow: hidden;
            overflow-y: auto;
            overflow-x: auto;
            max-height: 400px;
        }

        .entry-content pre code {
            font-size: 1.0em;
            display: block;
            padding-left: 50px;
            padding-bottom: 12px;
            padding-top: 12px;
            padding-right: 12px;
            font-weight: 300;
            font-family: Menlo, monospace;
        }

        .pre-numbering {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            padding: 11.4px 2px 11.4px 2px;
            border-right: 1px solid #C3CCD0;
            border-radius: 3px 0 0 3px;
            background-color: #EEE;
            text-align: right;
            font-family: Menlo, monospace;
            font-size: 1.2em;
            color: #AAA;
        }

        .entry-avatar {
            width:40px;
        }

        .entry-contentarea {
            -webkit-box-flex: 1;
            box-flex: 1;
            flex:1;
        }

        .entry-status {
            color:#B8B8B8;
        }
        
        .entry-sign-fail {
            color:#ff0000;
        }
        
        .entry-content input {
            display:block;
        }
        
        .entry-content .cancel {
            background:#f7f7f7;
            border:1px solid #dadada;
            color:#888;
        }
        
        .entry-content .entry-file-label {
            color:#54728c;
        }
        
        .entry-content .entry-file-canceled {
            color:#ff0000;
        }
        
        .entry-file-progress {
            margin-top:5px;
            margin-bottom:5px;
            padding:5px;
            background:#68b54d;
            height:5px;
        }
        
        .entry-file-open {
            float:left;
        }



/**********************/
/* message input area */
/**********************/

#message {
    background:#f1f1f1;
    padding-top:10px;
    height: 59px;
}

    #message-add-menue {
        cursor:pointer;
        background-color:#68b54d;
        border: 1px solid #ccc;
        margin:0;
        margin-top:2px;
        margin-bottom:2px;
        padding-top:7px;
        padding-left:10px;
        padding-right:14px;
        font-size:1.5em;
        color:#fff;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    #message-add-code-box {
        display:none;
        position: absolute;
        background: #f7f7f7;
        border: 1px solid #dadada;
        color:#5d5d5d;
        padding:0;
        right:100%;
        top:-415px;
        width:525px;
        margin-right:-532px;
        border-radius: 3px;
        z-index:30;
        -webkit-app-region: no-drag;
        height:390px;
    }

        #message-add-code-box-inner {
            padding:7px;
        }

        #message-add-code-box:after, #message-add-code-box:before {
            top: 100%;
            left: 5.9%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        #message-add-code-box:after {
            border-color: rgba(241, 241, 241, 0);
            border-top-color: #f7f7f7;
            border-width: 30px;
            margin-left: -30px;
        }

        #message-add-code-box:before {
            border-color: rgba(218, 218, 218, 0);
            border-top-color: #dadada;
            border-width: 31px;
            margin-left: -31px;
        }

            #message-add-code-box-area {
                resize:none;
                height:290px;
                width:505px;
                overflow:auto;
                margin-bottom:5px;
            }

        #message-add-code-box-language {
            width:300px;
            float:right;
        }

    #message-add-menue-dropdown {
        display: none;
        position: absolute;
        background: #f7f7f7;
        border: 1px solid #dadada;
        color:#5d5d5d;
        padding:0;
        right:100%;
        top:-135px;
        width:210px;
        margin-right:-202px;
        border-radius: 3px;
        z-index:30;
        -webkit-app-region: no-drag;
    }

        #message-add-menue-dropdown:after, #message-add-menue-dropdown:before {
            top: 100%;
            left: 17.5%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        #message-add-menue-dropdown:after {
            border-color: rgba(241, 241, 241, 0);
            border-top-color: #f7f7f7;
            border-width: 15px;
            margin-left: -15px;
        }

        #message-add-menue-dropdown:before {
            border-color: rgba(218, 218, 218, 0);
            border-top-color: #dadada;
            border-width: 16px;
            margin-left: -16px;
        }

            #message-add-menue-dropdown li {
                list-style:none;
                padding:10px;
                font-size:0.9em;
                border-top:1px solid #f1f1f1;
                cursor:pointer;
            }

                #message-add-menue-dropdown li:hover {
                    background:#f9f9f9;
                }

                #message-add-menue-dropdown li.inactive {
                    color:#A0A0A0;
                }

        #message-add-menue-file span {
            font-size:1.4em;
        }


    #message-emoticons {
        display:none;
        border: 1px solid #dadada;
        position:absolute;
        background:#f7f7f7;
        width:200px;
        left:100%;
        margin-left:-230px;
        padding:5px;
        z-index:29;
    }

        #message-emoticons img {
            cursor:pointer;
        }

    #message-input {
        display: -webkit-flex;
        display: flex;
        padding:5px;
        background:#f1f1f1;
    }

        #message-input-textfield {
            -webkit-box-flex: 1;
            box-flex: 1;
            flex:1;
            padding:5px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            border: 1px solid #ccc;
            margin-right:0;
            margin-left: 0;
            border-left: 0;
        }

        #message-input-textfield:focus {
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            border-color: #66afe9;
        }

        #message-toggleemots {
            display:block;
            margin:0;
            margin-top:2px;
            margin-bottom:2px;
            background:url(emoticons/smile.png) no-repeat center center #eee;
            width:30px;
            height:30px;
            border: 1px solid #ccc;
            border-left:0;
            border-right:0;
            cursor:pointer;
            height:40px;
        }

            #message-toggleemots.active {
                background-color:#e45857;
                border-color:#14142;
            }

        #message-send {
            cursor:pointer;
            background-color:#68b54d;
            border: 1px solid #ccc;
            margin:0;
            margin-top:2px;
            margin-bottom:2px;
            padding-top:7px;
            padding-left:20px;
            padding-right:20px;
            font-size:1.5em;
            color:#fff;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }
